.card-height {
    min-height: 55vh;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.flex-vertical-center {
    display: flex;
    align-items: center;
}

.cursor-default {
    cursor: default;
}