@font-face {
    font-family: Nunito;
    src: url('Nunito-Regular.ttf');
}

body {
    margin: 0;
    padding: 0;
    font-family: Nunito;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group label {
    margin-top: 8px;
    margin-bottom: 1px;
}

.add-data {
    background: 0;
    border: 0;
    text-decoration: underline;
    user-select: none;
    outline: none;
}

.add-data:hover {
    color: darkcyan;
}

button:focus {
    outline: none;
}

.list-group-item h5 {
    margin-bottom: 0;
}

::placeholder {
    color: rgb(200, 200, 200) !important;
}

.fileInputLabel {
    position: fixed;
    cursor: pointer;
    text-decoration: underline;
    z-index: 100;
}
